.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#sign-in{
  background-color: transparent;
  border-color: transparent;
}
#top-bar {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
#top-bar img {
  max-height: 40px;
  padding: 0;
  margin: 0;
}
.dashboard {
  height: 80vh;
}
.search {
  height: 10vh;
  min-height: 50px;
  border-top: 2px solid #9a9ea7;

}
.panel{
  height: 100%;
  width: 34%;
  border-right: 2px solid #9a9ea7;
  border-top: 2px solid #9a9ea7;
}

.item:hover { 
  background: #90cdf4; 
}
